.product-info{
    margin-bottom: 40px;
    &__title{
        font-size: 22px;
        font-weight: 400;
        line-height: 1.2;
        margin-bottom: 30px;
    }
    &__header{
        margin-bottom: 30px;
        position: relative;
    }
    &__favorite-form{
        position: absolute;
        right: 0;
        bottom: -65px;
    }
    &__codes{
        display: flex;
        @include widthGap(2, 10px);
    }
    &__code-title{
        width: fit-content;
        height: fit-content;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        border-radius: 6px;

        &--first{
            background-color: #EEF6FC;
        }
        &--second{
            background-color: #F1F8EB;
        }
    }
    &__code-name{
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        margin-right: 5px;
    }
    &__code{
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        white-space: nowrap;
        &--blue{
            color: $blue;
        }
        &--green{
            color: #57AE00;
        }
    }
    .price {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
        &__old {
            margin-right: 30px;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.4;
            color: #888CA4;
            text-decoration: line-through;
        }
        &__new {
            font-weight: 800;
            font-size: 30px;
            color: $black;
            .currency {
                font-size: 18px;
            }
        }
    }
    &__favorite{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 46px;
        height: 46px;
        margin-left: auto;
        pointer-events: all;
        &.clicked{
            .product-main-slider{
                &__favorite-icon{
                    stroke: $red;
                    fill: $red;
                }
            }
        }
    }
    &__favorite-icon{
        width: 32px;
        height: 32px;
        stroke: $blue;
        stroke-width: 1.5;
        fill: none;
    }
    &__middle{
        margin-bottom: 30px;
    }
    &__forms {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 0;
    }
    .add-to-cart {
        margin-bottom: 20px;
        width: 100%;
        max-width: 360px;
        &__text{
            font-size: 16px;
            font-weight: 700;
            line-height: 1.5;
        }
        &__icon {
            width: 24px;
            height: 24px;
            margin-left: 10px;
            stroke: #fff;
            stroke-width: 1.5;
        }
    }

    .one-click{
        background-color: transparent;

        .add-to-cart{
            &__icon{
                stroke: $blue;
            }
        }
    }
}

@include min(460px){
    .product-info{
        &__codes{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__favorite-form{
            position: static;
            width: fit-content;
        }
        &__forms{
            align-items: center;
        }
        &__code-name{
            line-height: 1;
        }
        &__code{
            line-height: 1;
        }
        .price{
            justify-content: center;
        }
    }
}

@include min(768px){
    .product-info{
        &__forms{
            align-items: center;
        }
        &__code-name{
            line-height: 1;
        }
        &__code{
            line-height: 1;
        }
        .price{
            justify-content: center;
        }
    }
}

@include min(992px){
    .product-info{
        width: 40%;
        padding-left: 20px;
        &__title{
            @include font-size(30px);
        }
        &__code-name, &__code{
            @include font-size(16px);
        }
        &__code{
            font-weight: 700;
        }
        &__favorite-icon{
            width: 28px;
            height: 28px;
        }
        .product-info__forms{
            padding: 0;
            flex-direction: row;
            @include widthGap(2, 10px)
        }
        .add-to-cart{
            margin-bottom: 0;
            &__text{
                @include font-size(20px);
            }
        }
    }
}

@include min(1200px){
    .product-info{
        &__favorite-icon{
            width: 30px;
            height: 30px;
        }
    }
}

@include min(1560px){
    .product-info{
        width: 48%;
        padding-left: 60px;
        &__title{
            margin-bottom: 70px;
        }
        &__header{
            margin-bottom: 70px;
        }
        &__middle{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 70px;
        }
        &__favorite-icon{
            width: 32px;
            height: 32px;
        }
        .product-info__forms{
            justify-content: space-evenly;
            gap: 0;
        }
        .add-to-cart{
            margin-bottom: 0;
            width: fit-content;
            &__button{
                padding: 10px 30px;
                white-space: nowrap;
            }
        }
        .one-click{
            width: fit-content;
            padding: 10px 30px;
            white-space: nowrap;
        }
        .price{
            align-items: flex-start;
            justify-content: flex-start;
            width: fit-content;
            white-space: nowrap;
            padding: 0;
            margin: 0;
        }
    }
}

@include min(1700px){
    .product-info{
        width: 44%;
        padding-left: 60px;
    }
}


