$primary-color: #566577;
$hover-color: #007eb2;
$secondary-color: #212121;

$head-text: #5B819A;
$bg-light: #F3F6F9;


$inactive-color: #DBDCDE;

$red: #E31212;
$blue: #1598D8;
$black: #0D2236;
$green: #3CB371;
