.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 100%;
    max-width: 360px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    border: 1px solid $blue;
    border-radius: 6px;
    transition-duration: .3s;
    &:hover{
        text-decoration: none;
    }
}

.btn-primary{
    background-color: $blue;
    color: #fff;
    &.disabled{
        background-color: #D4D5DD;
        pointer-events: none;
        border: 1px solid #E9EEF6;
    }
}

.btn-secondary{
    box-sizing: border-box;
    border: 1px solid $blue;
    color: $blue;
}

@include min(390px){
    .btn{
        height: 46px;
        font-size: 20px;
    }
}

@include min(992px){
    .btn{
        height: 40px;
        @include font-size(20px);
        transition-duration: .3s;
        &:hover{
            box-shadow: 0 10px 40px #21181040;
        }
    }
}

@include min(1200px){
    .btn{
        height: 42px;
    }
}

@include min(1360px){
    .btn{
        height: 46px;
    }
}

@include min(1560px){
    .btn{
        height: 50px;
    }
}
