.footer {
    background-color: $black;
    padding-top: 70px;
    padding-left: 35px;
    padding-right: 35px;
    &__logo {
        display: flex;
        height: 40px;
        width: 228px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 70px;
    }
    &__address{
        display: inline-block;
        margin-bottom: 50px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.3;
        color: #fff;
    }
    .footer-block {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        &--contacts {
            display: none;
        }
        &--schedule{
            margin-bottom: 70px;
        }
        &__title {
            display: inline-block;
            margin-bottom: 30px;
            leading-trim: both;
            text-edge: cap;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            color: $primary-color;
        }
        .schedule, .navigation {
            &__item {
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
        }
        .navigation__link, .schedule__item, &__address, &__email {
            font-weight: 400;
            font-size: 18px;
            line-height: 1.2;
            color: #fff;
        }
        .schedule{
            margin-bottom: 0;
            &__title{
                display: none;
            }
            &__item{
                color: #ABB5C7;
                .value{
                    color: #fff;
                }
            }
        }
        &__email{
            margin-bottom: 15px;
        }
        .navigation {
            &__icon {
                display: none;
            }
        }
        .phones-list {
            margin-bottom: 20px;
            &__item {
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
            &__link {
                font-weight: 400;
                font-size: 22px;
                line-height: 1.2;
                color: #fff;
            }
            &__icon-link {
                margin-left: 10px;
            }
        }
        &__address {
            margin-bottom: 20px;
        }
        &__map-link {
            display: inline-block;
            width: fit-content;
            margin-bottom: 20px;
            border-bottom: 1px solid $green;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.2;
            color: $green;
        }
        .socials {
            &__item {
                &:not(:last-child) {
                    margin-right: 30px;
                }
            }
            &__link {
                padding: 0;
                width: 30px;
                height: 30px;
            }
            &__icon {
                fill: #B7BACA;
            }
        }
    }
    &__bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: calc(100% + 70px);
        padding-top: 100px;
        padding-bottom: 30px;
        margin-left: -35px;
        margin-right: -35px;
        border-top: 1px solid #727E8D;
    }
    &__all-rights {
        display: inline-block;
        width: 100%;
        margin-bottom: 50px;
        text-align: center;
        font-weight: 400;
        font-size: 13px;
        line-height: 1.2;
        color: #888CA4;
    }
    &__wm-link {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__wm-link {
        font-weight: 300;
        font-size: 9px;
        line-height: 1.2;
        color: #566577;
    }
    &__wm-icon {
        width: 151px;
        height: 22px;
        margin-bottom: 5px;
    }
}

@include min(390px) {
    .footer {
        &__logo {
            width: 240px;
            height: 48px;
            margin-bottom: 60px;
        }
        .footer-block {
            margin-bottom: 60px;
            &__title {
                font-size: 18px;
            }
            .schedule__item, .navigation__link, &__address, &__email, &__map-link {
                font-size: 20px;
            }
            .phones-list {
                margin-bottom: 25px;
                &__item {
                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }
                }
                &__link {
                    font-size: 22px;
                }
                &__icon-link {
                    width: 27px;
                    height: 27px;
                    margin-left: 15px;
                }
            }
            &__address {
                margin-bottom: 25px;
            }
            &__map-link {
                margin-bottom: 25px;
                font-size: 16px;
            }
            .socials {
                margin-bottom: 25px;
                &__item {
                    &:not(:last-child) {
                        margin-right: 40px;
                    }
                }
                &__link{
                    width: 33px;
                    height: 33px;
                }
            }
        }
        &__bottom {
            width: calc(100% + 60px);
            margin-left: -30px;
            margin-right: -30px;
        }
        &__all-rights {
            font-size: 15px;
        }
        &__wm-icon {
            width: 150px;
            height: 20px;
        }
        &__wm-link {
            font-size: 11px;
        }
    }
}

@include min(576px) {
    .footer {
        padding-left: 0;
        padding-right: 0;
        &__container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__logo {
            width: 100%;
        }
        .footer-block {
            width: calc(50% - 15px);
        }
        &__bottom {
            .footer__container {
                justify-content: center;
            }
        }
    }
}

@include min(992px) {
    .footer {
        padding-left: 0;
        padding-right: 0;
        padding-top: 30px;
        &__container {
            display: grid;
        }
        &__logo {
            grid-column: 1;
            grid-row: 1;
            width: 160px;
            height: 30px;
            margin-bottom: 20px;
        }
        &__address{
            width: 160px;
            @include font-size(16px);
            margin-bottom: 0;
        }
        .footer-block {
            width: 100%;
            margin-bottom: 30px;
            .navigation {
                &__link {
                    transition-duration: .3s;
                    &.active, &:hover {
                        color: $blue;
                    }
                }
            }
            .phones-list {
                &__link {
                    transition-duration: .3s;
                    &:hover {
                        color: $blue;
                    }
                }
            }
            .socials{
                &__item{
                    &:not(:last-child) {
                        margin-right: 20px;
                    }
                }
                &__icon {
                    transition-duration: .3s;
                }
                &__link {
                    width: 20px;
                    height: 20px;
                    &:hover {
                        .socials__icon {
                            fill: $blue;
                        }
                    }
                }
            }
            &__email {
                transition-duration: .3s;
                &:hover {
                    color: $blue;
                }
            }
            &__map-link {
                transition-duration: .3s;
                &:hover {
                    border-bottom: 1px solid #fff;
                    color: #fff;
                }
            }
            &--contacts {
                display: flex;
                flex-direction: column;
                grid-column: 1;
                grid-row: 2;
                .footer-block__email {
                    margin-bottom: 20px;
                }
            }
            &--navigation {
                grid-column: 3;
                grid-row: 1/span 3;
                .navigation {
                    &__item {
                        display: flex;
                        &:not(:last-child) {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
            &--schedule {
                grid-column: 4;
                grid-row: 1/span 3;
                .schedule {
                    &__item {
                        &:not(:last-child) {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
            &--contacts-block {
                grid-row: 2;
                grid-row: 1/span 3;
                .phones-list {
                    margin-bottom: 15px;
                    &__item {
                        &:not(:last-child) {
                            margin-bottom: 10px;
                        }
                    }
                    &__link{
                        @include font-size(20px);
                    }
                }
                .footer-block__address {
                    margin-bottom: 15px;
                }
            }
            &__title {
                margin-bottom: 15px;
                @include font-size(16px);
            }
            .schedule__item, .navigation__link, &__address, &__email, &__map-link {
                @include font-size(16px);
            }
            .phones-list {
                &__icon-link {
                    width: 18px;
                    height: 18px;
                    margin-left: 10px;
                }
            }
        }
        &__bottom {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            padding-top: 20px;
            padding-bottom: 20px;
            .footer {
                &__container {
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: center;
                }
            }
        }
        &__all-rights {
            width: fit-content;
            margin-bottom: 0;
            @include font-size(13px);
        }
        &__wm-link {
            @include font-size(11px);
        }
        &__wm-icon {
            width: 110px;
            height: 18px;
        }
    }
}

@include min(1200px) {
    .footer {
        &__logo {
            width: 180px;
            height: 40px;
        }
        &__address{
            width: 180px;
        }
        .footer-block {
            .socials {
                &__link {
                    width: 25px;
                    height: 25px;
                }
            }
        }
        &__wm-icon {
            width: 130px;
            height: 20px;
        }
    }
}

@include min(1360px) {
    .footer {
        padding-top: 40px;
        &__logo {
            width: 200px;
            height: 35px;
        }
        &__address{
            width: 200px;
        }
        .footer-block{
            margin-bottom: 40px;
            &__title{
                margin-bottom: 25px;
            }
            .socials{
                &__item{
                    &:not(:last-child){
                        margin-right: 25px;
                    }
                }
            }
            &--contacts-block{
                .phones-list{
                    &__item{
                        &:not(:last-child){
                            margin-bottom: 15px;
                        }
                    }
                }
            }
            &--navigation{
                .navigation{
                    &__item{
                        &:not(:last-child){
                            margin-bottom: 15px;
                        }
                    }
                }
            }
            &--schedule{
                .schedule{
                    &__item{
                        &:not(:last-child){
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
    }
}

@include min(1560px) {
    .footer {
        &__logo {
            width: 230px;
            height: 40px;
            margin-bottom: 30px;
        }
        &__address{
            width: 220px;
        }
        .footer-block {
            .socials {
                &__link {
                    width: 25px;
                    height: 25px;
                }
                &__item{
                    &:not(:last-child){
                        margin-right: 30px;
                    }
                }
                .footer-block__email {
                    margin-bottom: 30px;
                }
            }
            &--contacts-block {
                .phones-list {
                    &__icon-link {
                        width: 22px;
                        height: 22px;
                        margin-left: 10px;
                    }
                }
            }
        }
        &__email {
            margin-bottom: 30px;
        }
        &__wm-icon {
            width: 150px;
            height: 22px;
            margin-bottom: 3px;
        }
    }
}

@include min(1700px) {
    .footer {
        padding-top: 50px;
        .footer-block {
            margin-bottom: 50px;
            &__title {
                margin-bottom: 30px;
            }
            .socials {
                &__link {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}
