.header{
    position: relative;
    &__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: static;
    }
    &__logo{
        display: flex;
        align-items: center;
        height: 65px;
        width: 53%;
    }
    &__logo-link{
        display: flex;
        width: 135px;
        height: inherit;
    }
    &__modal{
        display: flex;
        align-items: center;
        height: 65px;
    }
    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 65px;
        z-index: -1;
        background-color: $bg-light;
    }
}

.burger-menu{
    &__button{
        display: flex;
        align-items: center;
        &.is-open .burger-menu__span{
            background-color: transparent;
            transition-delay: .15s;
        }

        &.is-open .burger-menu__span::before{
            background-color: $hover-color;
            top: -2px;
            width: 22px;
            transform: translate3d(0, 10px, 0) rotate(-45deg);
            transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .1s,transform .13s cubic-bezier(0.22, 0.61, 0.36, 1) .22s;

        }

        &.is-open .burger-menu__span::after{
            background-color: $hover-color;
            top: -2px;
            width: 22px;
            transform: translate3d(0, 10px, 0) rotate(45deg);
            transition: top .2s cubic-bezier(.33333,0,.66667,.33333),transform .13s cubic-bezier(.215,.61,.355,1) .22s;
        }
    }
    &__button-wrapper{
        position: relative;
        width: 18px;
        height: 20px;
        background-color: #f3f6f9;
    }
    &__span{
        position: absolute;
        left: 0;
        top: -2;
        display: inline-block;
        width: 18px;
        height: 2px;
        border-radius: 4px;
        background-color: $blue;
        &::before{
            content: '';
            position: absolute;
            top: 7px;
            right: 0;
            background-color: $blue;
            width: 14px;
            height: 2px;
            border-radius: 4px;
            transition: top .1s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19);
        }
        &::after{
            content: '';
            position: absolute;
            top: 14px;
            right: 0;
            background-color: $blue;
            width: 10px;
            height: 2px;
            border-radius: 4px;
            transition:top .1s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19) ;
        }
    }

    &__box{
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        height: calc(100vh - 65px);
        padding: 0 15px;
        background-color: #fff;
        z-index: 10;
        color: $secondary-color;

        transition: opacity 0.3s ease-in;
        &.is-open{
            opacity: 1;
            pointer-events: all;
        }
    }

    &__cart{
        margin-top: 19px;
        padding-left: 25px;

        &.disabled{
            .burger-menu{
                &__cart-name{
                    color: $secondary-color;
                }
                &__cart-icon{
                    stroke: $secondary-color;
                }
            }
            &:hover{
                .burger-menu{
                    &__cart-name{
                        color: $secondary-color;
                    }
                    &__cart-icon{
                        stroke: $secondary-color;
                    }
                }
            }
        }

        &:hover{
            .burger-menu{
                &__cart-name{
                    color: $hover-color;
                }
                &__cart-icon{
                    stroke: $hover-color;
                }
            }
        }
    }
    &__cart-wrapper{
        position: relative;
    }
    &__cart-count{
        content: '';
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $hover-color;
        border-radius: 50%;
        width: 13px;
        height: 13px;
        top: -2px;
        right: -3px;

        font-weight: 700;
        font-size: 9px;
        line-height: 120%;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #fff;
    }
    &__cart-link{
        display: flex;
        align-items: center;
        gap: 20px;

        font-weight: 400;
        font-size: 16px;
        line-height: 120%;

        color: $secondary-color;
    }
    &__cart-name{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        transition-duration: .3s;
    }
    &__cart-icon{
        stroke-width: 1.5;
        stroke: $secondary-color;
        transition-duration: .3s;
    }

    &__nav{
        border-top: 1px $inactive-color solid;
        border-bottom: 1px $inactive-color solid;
        padding: 26px 0;
        margin-top: 23px;
        margin-bottom: 32px;
    }
    &__contacts{
        margin-left: 40px;
        margin-bottom: 36px;
    }
}

.nav{
    &__list{
        padding-left: 25px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__item{
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: $secondary-color;
        &:hover .nav__link{
            color: $hover-color;
        }
    }
    &__link{
        transition-duration: .3s;
    }
}

.header-contacts{
    &__title{
        margin-bottom: 16px;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: $head-text;
        display: inline-block;
    }
    &__list{
        display: flex;
        flex-direction: column;
        gap: 14px;
    }
    &__item{
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $primary-color;
        display: flex;
        align-items: center;
        gap: 3px;
    }
    &__link{
        display: flex;
    }
    &__social-link{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.lang-switch{
    display: flex;
    justify-content: center;
    align-items: center;
    &__list{
        display: flex;
        flex-direction: row;
        gap: 23px;
    }
    &__item{
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;

        &:nth-child(1) a{
            color: $head-text;
        }

        &:nth-child(2) a{
            color: $inactive-color;
        }
    }
}



@include min(992px) {
    .header {
        &__logo{
            order: 2;
            display: flex;
            justify-content: center;
            width: 100%;
        }
        &__logo-link{
            width: 180px;
        }
        &__modal{
            order: 1;
            width: 100%;
            height: 50px;
        }
        &__cart-modal{
            display: none;
        }
        &::before {
            height: 50px;
        }
    }

    .burger-menu{
        &__button{
            display: none;
        }
        &__box{
            opacity: 1;
            pointer-events: all;
            position: static;
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $bg-light;
            padding: 0;
        }
        &__contacts{
            display: none;
        }
        &__nav{
            order: 1;
            border: none;
            padding: 0;
            margin: 0;
        }
        &__lang-switch{
            order: 2;
        }
        &__cart{
            display: block;
            order: 4;
            padding: 0;
            margin: 0;
        }
        &__cart-link{
            gap: 10px;
        }
        &__cart-name{
            @include font-size(18px);
        }
    }

    .nav{
        &__list{
            padding: 0;
            flex-direction: row;
        }
        &__link{
            @include font-size(18px);
        }
    }

    .lang-switch{
        &__link{
            @include font-size(18px);
        }
    }

}

@include min(1360px) {
    .nav{
        &__list{
            gap: 60px;
        }
    }
}
