.benefits{
    display: flex;
    flex-direction: column;
    @include gap(15px);
    &__title{
        width: 100%;
    }
    &__item{
        display: flex;
        flex-direction: column;
        @include widthGap(1, 15px);
        justify-content: center;
        align-items: center;
    }
    &__advantage{
        padding: 15px;
        border-radius: 10px;
        border-right: 3px solid $black;
        background-color: #1598D8;
        display: flex;
        flex-direction: column;
    }
    &__picture{
        display: flex;
        position: relative;
        height: 0;
        padding-bottom: 72%;
    }
    &__img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-position: center center;
        object-fit: contain;
    }
    &__title-box{
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
    &__icon{
        width: 24px;
        height: 24px;
        fill: #fff;
        margin-right: 15px;
    }
    &__advantage-title{
        @include font-size(22px);
        font-weight: 400;
        line-height: 1.4;
        color: #fff;
    }
    &__text{
        @include font-size(18px);
        font-weight: 400;
        line-height: 1.5;
        color: #fff;
    }
}

@include min(768px) {
    .benefits{
        &__item{
            flex-direction: row;
        }
        &__advantage{
            width: calc(50% - 15px);
        }
        &__advantage-title{
            @include font-size(22px);
        }
        &__text{
            @include font-size(18px);
        }
        &__picture{
            padding-bottom: 50%;
        }
    }
}

@include min(992px) {
    .benefits{
        @include gap(0);
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        &__item{
            @include widthGap(1, 30px);
            flex-direction: column;
            width: 32%;
            &--photo{
                width: 36%;
            }
            &:last-child{
                .benefits__advantage{
                    border-right: none;
                    border-left: 3px solid $black;
                }
            }
        }
        &__title-box{
            margin-bottom: 20px;
        }
        &__icon{
            margin-right: 20px;
        }
        &__advantage{
            width: 100%;
        }
        &__picture{
            padding-bottom: 72%;
        }
        &__advantage-title{
            @include font-size(22px);
            line-height: 1.2;
        }
        &__text{
            @include font-size(18px);
            line-height: 1.5;
            font-weight: 400;
        }

    }
}

@include min(1200px) {
    .benefits{
        &__item{
            width: 31%;
            &--photo{
                width: 38%;
            }
        }
        &__advantage-title{
            @include font-size(22px);
            font-weight: 800;
            line-height: 1.2;
        }
        &__text{
            @include font-size(18px);
            line-height: 1.5;
            font-weight: 400;
        }

    }
}

@include min(1560px) {
    .benefits{
        &__item{
            @include widthGap(1, 50px);
            width: 28%;
            &--photo{
                width: 40%;
            }
        }
        &__picture{
            height: 100%;
        }
        &__advantage{
            padding: 30px;
        }
        &__advantage-title{
            @include font-size(22px);
            font-weight: 800;
            line-height: 1.2;
        }
        &__text{
            @include font-size(18px);
            line-height: 1.5;
            font-weight: 400;
        }
    }
}

